@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400,700");

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat";
}
h1{
    text-align: center;
    margin-top: 10px;
}
table {
    margin: 20px 10px 10px 200px;
    border: none;
}
td {
  border: none;
  width: 50px;
  height: 50px;
 text-align: center;
 

}
